<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
</head>

<body>
<div id="wrapper">
    <% include sidebar.ejs %>
  <div id="page-wrapper" class="gray-bg">
    <% include header.ejs %>
    <%- body%>
    <% include scripts.ejs %>
    <% include footer.ejs %>
  </div>
</div>
</body>
</html>
