<% layout('includes/layout') %>

<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Admin</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="dashboard">Home</a>
                        </li>
                        <li class="active">
                           <strong>Change Password</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div>

  <div class="wrapper wrapper-content animated fadeInRight">
   <div class="col-lg-12">
      <div class="ibox float-e-margins">
         <div class="ibox-title">
            <h5>ChangePassword</h5>
         </div>
         <div class="ibox-content">
            <form class="form-horizontal" action="changepassword" method="post" >
               <div class="form-group">
                  <label class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-6">  <input type="password" name="password"  placeholder="Enter current password" class="form-control" required="">
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">New Password</label>
                  <div class="col-lg-6">  <input type="password" name="new_password"  placeholder="Enter new password" class="form-control" required="">
                  </div>
               </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Confirm Password</label>
                  <div class="col-lg-6">  <input type="password" name="confirm_password" placeholder="Confirm password" class="form-control"
                     required="">
                  </div>
               </div>


                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                     <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
