<% layout('includes/layout') -%>
<div class="wrapper wrapper-content">
<div class="row">
<div class="col-lg-4">
       <a href="events">
           <div class="ibox float-e-margins">
               <div class="ibox-title">
                   <span class="label label-success pull-right"><%= count%></span>
                   <h5 style="color: #0080FF;">Events</h5>
               </div>
               <div class="ibox-content">
                   <h1 class="no-margins">Test</h1>
                   <div class="stat-percent font-bold text-success"></div>

               </div>
           </div>
           </a>
       </div>
</div>
</div>
